Stats for
%strong #{username}

- if !user_stats
  %div
  - if username == @current_username
    "You haven't had any activty yet, you should probably drop a drink :
  - else
    #{username} hasn't dropped any drinks yet... he is probably poor
- else
  Spent a total of #{user_stats[:spent].first["sum_amount"].to_i} credits<br />
  =partial(:top_drinks, :locals => {:title => '', :username => username, :top_drinks => user_stats[:top_drinks]})
  =partial(:recent_drops, :locals=>{:recent_drops=>user_stats[:recent_drops]})
  =partial(:popular_times, :locals=>{:title => '', :unit => :days, :popular=>user_stats[:popular_days], :username => username})
  =partial(:popular_times, :locals=>{:title => '', :unit => :hours, :popular=>user_stats[:popular_hours], :username => username})
