#home-left-column
  #home-top-users-all.home-cell
    =partial(:top_users,
             :locals => {:title     => "All Time",
                         :top_users => @overall_stats[:top_users_all_time]})
  #home-top-users-year.home-cell
    =partial(:top_users,
             :locals => {:title     => "This Year",
                         :top_users => @overall_stats[:top_users_this_year]})
  #home-top-spenders.home-cell
    =partial(:top_users,
             :locals => {:title     => "Spenders",
                         :top_users => @overall_stats[:top_spenders]})
#home-right-column
  #home-top-drinks.home-cell
    =partial(:top_drinks,
             :locals => {:title      => "All Time",
                         :top_drinks => @overall_stats[:top_drinks]})
  #home-popular-days.home-cell
    =partial(:popular_times,
             :locals => {:title   => "All Time",
                         :popular => @overall_stats[:popular_days],
                         :unit    => :days})
  #home-popular-hours.home-cell
    =partial(:popular_times,
             :locals => {:title   => "All Time",
                         :popular => @overall_stats[:popular_hours],
                         :unit    => :hours})
